
.logo-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    background-color: #eee;
    color: #1e1e1e;
    font-family: 'Quicksand', sans-serif;
    
}

.grid-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

@media only screen and (min-width: 641px){
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px){
    .grid-container {
	display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
	padding: 20px;

    }
}

a {
    color: #00aa19;
    font-weight: bold;
}

.outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%
}

.project-outer {

    text-align: center;
}

